 <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= form_for(provider, html: { id: 'provider_form', 'v-cloak' => true,  novalidate: false}) do |f| %>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="namefield">Numero</label>
                  <span v-show="isValidField('abbreviation')" class='required-field'>*</span>
                  <%= f.text_field :number,
                    class: 'form-control input-sm',
                    required: true
                  %>
                </div>
              </div>
              <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="form-group">
                  <label for="namefield">Nombre</label>
                  <span v-show="isValidField('abbreviation')" class='required-field'>*</span>
                  <%= f.text_field :name,
                    class: 'form-control input-sm',
                    "v-validate"=>"'required'"
                  %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="namefield">Identificador</label>
                  <span v-show="isValidField('abbreviation')" class='required-field'>*</span>
                  <%= f.text_field :indentifier,
                    class: 'form-control input-sm',
                    required: true
                  %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div v-show="errors.any()" class="alert alert-warning" role="alert">
            <p>
              <i class="fa fa-warning"></i>
              Por favor vefifique los datos en los campos con el <b>*</b> antes de continuar.
            </p>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <hr>
            <%= f.submit 'Registrar', class: 'btn btn-primary', ":disabled" => "(errors.count() >= 1) || fields.clean()", "data-disable-with"=> "Registrando..." %>
            <%= link_to 'Cancelar', providers_path, class: 'btn btn-default' %>

            <% unless provider.new_record? %>
              <%= link_to('#', class: 'danger-link pull-right', "data-target" => "#destroyModal", "data-toggle" => "modal") do %>
                <i class="fa fa-trash-o fa-lg fa-fw" aria-hidden="true"></i>
              <% end -%>

              <!-- BEGIN DESTROY PERSON MODAL -->
              <div id="destroyModal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" aria-hidden="true" data-dismiss="modal" type="button">&times;</button>
                      <h4 class="modal-title">Eliminar proveedor</h4>
                    </div>
                    <div class="modal-body">
                      <p>
                        Esta seguro de eliminar el registro con el nombre <b><%= provider.name %></b>? <br> Tenga en cuenta que esta acción es permanente.
                      </p>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
                      <%= link_to "Eliminar", provider_path, method: :delete, class: 'btn btn-danger' %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END destroyModalpermanenteSON MODAL -->
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
