<%= render(
  layout: 'shared/a/base',
  :locals => {
    browser_title: 'Fuentes',
    breadcrumbs: {
      crumbs: [],
      active_label: 'Fuentes'
    }
  }
) do %>
  <div class="row">
    <% if policy(Source).new? %>
      <div class="col-xs-4 col-lg-6">
        <%= link_to(
          new_source_path(query: params[:query], page: params[:page]),
          class: 'btn btn-primary'
        ) do %>
          <%= fw_icon('plus') %>
        <% end %>
      </div>
    <% end %>

    <div class='col-lg-6'>
      <%= form_tag sources_path, :method => 'get', class: 'form-inline pull-right' do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Nombre..." %>
          <span class="input-group-btn">
            <%= submit_tag "Buscar", :name => nil, class: 'btn btn-default' %>
            <% if params[:query] %>
              <%= link_to 'Limpiar', sources_path, class: "btn btn-info" %>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <% if @sources.empty?  %>
    <br>
    <div class="alert alert-info">
      <strong>&iexcl;Atenci&oacute;n!</strong>
      <% if params[:query] %>
        No se encontraron fuentes relacionadas con el criterio. Intente de nuevo.
      <% else %>
        Aun no se registran fuentes, has clic en el bot&oacute;n <%= fw_icon('plus') %> para agregar la primera.
      <% end %>
    </div>
  <% else  %>
    <div class="row">
      <div class="col-lg-12">
        <br>
        <h5>Listado de Fuentes registradas</h5>
        <hr>
        <div class="table-responsive">
          <table class=" table table-condensed">
            <thead>
              <tr>
                <th width='13%'></th>
                <th width='20%'>Nombre</th>
                <th width='10%'>Tipo</th>
                <th width='20%'>Valor Total</th>
                <th width='20%'>Valor Disponible</th>
              </tr>

            </thead>
            <tbody>
              <% @sources.each do |src| %>
                <tr>
                  <td>
                    <% if policy(src).edit? %>
                      <%= link_to(edit_source_path(src, query: params[:query], page: params[:page]), class: 'btn btn-default btn-xs') do %>
                        <%= fw_icon('pencil', '', 'sm') %>
                      <% end %>
                      <%= link_to(source_incomes_path(src, query: params[:query], page: params[:page]), class: 'btn btn-default btn-xs') do %>
                        <%= fw_icon('money', '', 'sm') %>
                      <% end %>
                    <% else %>
                      <%= link_to 'Resumen', source_path(src, query: params[:query], page: params[:page]), class: 'btn btn-default btn-xs' %>
                    <% end %>
                  <%= link_to(certificates_search_path(source_id: [src.id]), class: 'btn btn-default btn-xs') do %>
                    <%= fw_icon('file-text-o', '', 'sm') %>
                  <% end %>
                  </td>
                  <td><%= src.name %></td>
                  <td><%= src.source_type.upcase %></td>
                  <td><%= number_to_currency(src.total_value) %></td>
                  <td><%= number_to_currency(src.available_value) %></td>
                </tr>
              <% end  %>
            </tbody>
          </table>
        </div>
        <%= paginate @sources, :window => 4 %>
      </div>
    </div>
  <% end -%>
<% end -%>
