<%= render(
  layout: 'shared/a/base',
 :locals => {
    browser_title: 'Pagos',
    breadcrumbs: {
      crumbs: [],
      active_label: "Pagos"
    }
  }
) do %>
  <div class="row">
    <div class="col-xs-4 col-lg-6">
      <%= link_to(
        new_payment_path(query: params[:query], page: params[:page]),
        class: 'btn btn-primary'
      ) do %>
        <%= fw_icon('plus') %>
      <% end %>
    </div>

    <div class='col-lg-6'>
      <%= form_tag payments_search_path, :method => 'get', class: 'form-inline pull-right', autocomplete: :off do %>
        <div class="input-group">
          <%= text_field_tag :code, (params[:code] || session[:payments_hash]["code"]), class: 'form-control', placeholder: "Nombre/Numero..." %>
          <span class="input-group-btn">
            <%= submit_tag "Buscar", :name => nil, class: 'btn btn-default' %>
            <%= link_to('#', class: session[:payments_hash].any? ? 'btn btn-primary' : 'btn btn-default', "data-target" => "#datepickerModal", "data-toggle" => "modal") do %>
              <i class="fa fa-cogs" aria-hidden="true"></i>
            <% end -%>
            <% if session[:payments_hash].any?%>
              <%= link_to 'Limpiar', payments_clean_path, class: "btn btn-info" %>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

    <div id="datepickerModal" class="modal fade" aria-hidden="true" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">&times;</button>
            <h4 class="modal-title">Filtro avanzado</h4>
          </div>
          <div class="modal-body">
          <%= form_tag payments_search_path, :method => 'get', autocomplete: :off do %>
            <div class="row">
              <div class='col-lg-12'>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Orden de pago</label>
                    <%= text_field_tag :code, session[:payments_hash]["code"], class: 'form-control input-sm', placeholder: "Orden de pago..." %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Numero de contrato</label>
                    <%= select_tag :contract_id, options_from_collection_for_select(Contract.all, :id, :contract_number, session[:payments_hash]["contract_id"]), include_blank: true, class: 'form-control select2' %>
                  </div>                      <%= link_to("#", class: 'btn btn-default btn-xs', 'data-toggle'=> 'tooltip', 'data-placement' => 'top',  'title'=>'Conciliar') do %>
                        <%= fw_icon('code-fork', nil, 'xs') %>
                      <% end %>
                      <%= link_to("#", class: 'btn btn-default btn-xs', 'data-toggle'=> 'tooltip', 'data-placement' => 'top',  'title'=>'Retenciones') do %>
                         <%= fw_icon('rotate-left', nil, 'xs') %>
                      <% end %>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-12'>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Numero de factura</label>
                    <%= text_field_tag :invoice_number, session[:payments_hash]["invoice_number"], class: 'form-control input-sm', placeholder: "Numero de proceso..." %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Tipo de factura</label>
                    <%= select_tag :payment_type, options_from_collection_for_select(PAYMENT_TYPE, :last, :first, session[:payments_hash]["payment_type"]), include_blank: true, class: 'form-control input-sm' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-lg-12'>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Estado de pago</label>
                    <%= select_tag :state, options_from_collection_for_select({Conciliado: "Conciliado", Asignado: "Asignado"}, :last, :first, session[:payments_hash]["state"]), include_blank: true, class: 'form-control input-sm' %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Contratista</label>
                    <%= select_tag :contractor, options_from_collection_for_select(Contractor.all, :id, :name, session[:payments_hash]["contractor"]), include_blank: true, class: 'form-control select2' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-lg-12'>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Aplica IVA?</label>
                    <%= check_box_tag :vat, "true" || session[:payments_hash]["vat"], false, class: 'form-group' %>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Es anticipo?</label>
                    <%= check_box_tag :prepayment, "true" || session[:payments_hash]["prepayment"], false, class: 'form-group' %>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class='row'>
              <div class='col-lg-12'>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Desde</label>
                    <%= text_field_tag :st_date, (params[:st_date] || session[:payments_hash]["st_date"]) , class: 'form-control datepicker input-sm', placeholder: "YYYY/mm/dd" %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Hasta</label>
                    <%= text_field_tag :ed_date, (params[:ed_date] || session[:payments_hash]["ed_date"]), class: 'form-control datepicker input-sm', placeholder: Date.today.strftime('%Y/%m/%d')%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Buscar", :name => nil, class: 'btn btn-default' %>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  <% if @payments.empty? %>
    <br>
    <div class="alert alert-info">
      <strong>&iexcl;Atenci&oacute;n!</strong>
      <% if params[:query] %>
        No se encontraron pagos relacionados con el criterio. Intente de nuevo.
      <% else %>
        Aun no se registran pagos, has clic en el botón "<b>+</b>" para agregar el primero.
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <br>
        <h5>Listado de Pagos registrados</h5>
        <hr>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th width='25%'></th>
                <th width='10%'>O. Pago</th>
                <th width='13%'># Proceso</th>
                <th width='10%'>Contratista</th>
                <th width='13%'>Valor Base</th>
                <th width='10%'>IVA</th>
                <th width='15%'>Valor Total</th>
                <th width='15%'>Anticipo</th>
              </tr>
            </thead>
            <tbody>
              <% @payments.each do |payment| %>
                  <tr>
                    <td>
                      <%= link_to(edit_payment_path(payment, query: params[:query], page: params[:page]), class: 'btn btn-default btn-xs', 'data-toggle'=> 'tooltip', 'data-placement' => 'bottom',  'title'=>'Editar') do %>
                        <%= fw_icon('pencil', nil, 'xs') %>
                      <% end %>

                      <%#= link_to(expenditures_payment_path(payment, query: params[:query], page: params[:page]), class: 'btn btn-default btn-xs', 'data-toggle'=> 'tooltip', 'data-placement' => 'top',  'title'=>'Fondos') do %>
                        <%#= fw_icon('briefcase', nil, 'xs') %>
                      <%# end %>
                    </td>
                    <td><%= payment.code %></td>
                    <td><%= payment.contract.process_number %></td>
                    <td><%= truncate(payment.contract.contractor.try(:name), length: 15) %></td>
                    <td><%= payment.vat ? number_to_currency(payment.base_value) : number_to_currency(payment.value) %></td>
                    <td><%= payment.vat ? number_to_currency(payment.vat_value) : '-' %></td>
                    <td><%= payment.prepayment_change != nil ? number_to_currency(payment.value - payment.prepayment_change): number_to_currency(payment.value)%></td>
                    <td><%= fw_icon(payment.prepayment ? 'check' : '') %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @payments, :window => 4 %>
      </div>
    </div>
  <% end -%>
<% end -%>
