<%= content_for :title, "Restaurar Contraseña" %>

<div class="container">
  <div class='row'>
    <div class='col-lg-offset-4 col-lg-4'>
      <%= image_tag('/assets/images/logo.svg', size: '250x97', class: "center-image") %>

      <h4>Asignar contraseña</h4>
      <hr>
      <small>Ingresa una nueva contrase&ntilde;a para tu cuenta. Tenga en cuenta que debe contener 8 caracteres y deben coincidir en los dos campos.</small>
      <br><br>

      <%= form_for(
        resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { id:'edit_password_restore_form', 'v-cloak' => true, method: :put }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <label>Contrase&ntilde;a nueva</label>
          <%= f.password_field :password,
            autofocus: true,
            autocomplete: "off",
            class: 'form-control',
            "v-model"=>"password"
          %>
        </div>

        <div class="alert alert-warning" role="alert" v-show="password.length > 1 && password.length < 8">La contrase&ntilde;a debe contener al menos 8 caracteres.</div>

        <div class="form-group">
          <label>Vuelve a escribir la contrase&ntilde;a</label>
          <%= f.password_field :password_confirmation,
            autocomplete: "off",
            class: 'form-control',
            'v-model' => "password_confirmation"
          %>
        </div>

        <div class="alert alert-warning" role="alert" v-show="password_confirmation.length > 1 && password !== password_confirmation">Las contraseñas no coinciden.</div>

        <%= submit_tag "Enviar",
          class: 'btn btn-primary',
          "data-disable-with" => "Restableciendo...",
          ":disabled" => "password.length < 8 || password !== password_confirmation"
        %>
      <% end %>
    </div>
  </div>
</div>
